<p>
<img src="https://cdn.jsdelivr.net/gh/DamiEn83x/angular-kursywalut@master/src/assets/AngularIcon-128.png" alt="Angular">
<img src="https://cdn.jsdelivr.net/gh/DamiEn83x/angular-kursywalut@master/src/assets/Bootstrap.png">
<img src="https://cdn.jsdelivr.net/gh/DamiEn83x/angular-kursywalut@master/src/assets/restapi.png">

<img src="https://cdn.jsdelivr.net/gh/DamiEn83x/angular-kursywalut@master/src/assets/js.png">

<img src="https://cdn.jsdelivr.net/gh/DamiEn83x/angular-kursywalut@master/src/assets/html.png">
</p>